body {
  font-family: 'Roboto';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
}

main {
  flex: 1 0 auto;
}
#join-form-wrapper {
  margin: 10rem auto;
  max-width: 600px;
}
#submit-btn {
  background-color: #02bee8;
}
#login-title {
  color: #02bee8;
}
.form-container {
  padding: 3rem;
}
.input-field {
  border: solid 2px lightgray;
  border-radius: 0.5rem;
}
.input-field input {
  border: none;
}
.input-field input:focus {
  border: none;
  box-shadow: none;
}
